name: DemoQA TestNG Automation CI - healthCheck

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '23'

      - name: Cache Maven Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{runner.os}}-m2-${{hashFiles('**/pom.xml')}}

      - name:  Run Maven Tests
        run:  mvn clean test

      - name: Upload Allure Report Results
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: target/allure-results

      - name: Generate Allure HTML Reports
        run: |
              sudo apt update
              sudo apt install -y allure
              allure generate target/allure-results --clean -o allure-report
              

      - name: Upload Test Output (Surefire Output)
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports
